/* https://minerva.mamansoft.net/%F0%9F%93%97Obsidian%E9%80%86%E5%BC%95%E3%81%8D%E3%83%AC%E3%82%B7%E3%83%94/%F0%9F%93%97%E3%82%A2%E3%82%AF%E3%83%86%E3%82%A3%E3%83%96%E3%81%AA%E3%82%BF%E3%83%96%E3%81%AE%E8%83%8C%E6%99%AF%E3%81%AB%E7%94%BB%E5%83%8F%E3%82%92%E8%A1%A8%E7%A4%BA%E3%81%97%E3%81%9F%E3%81%84 */

.workspace-split.mod-root .workspace-leaf.mod-active:after {
  content: "";
  position: absolute;
  background-image: url(hoge);
  background-repeat: no-repeat;
  background-size: 300px;
  filter: opacity(0.5);
  /* top: -50px; */
  left: calc(100% - 250px);
  right: 0;
  bottom: 0;
  height: 350px;
  animation: fadeIn 0.5s ease;
  pointer-events: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* フェードアウト */
.workspace-split.mod-root .workspace-leaf:not(.mod-active):after {
  content: "";
  position: absolute;
  background-image: url();
  background-repeat: no-repeat;
  background-size: 300px;
  filter: opacity(0.5);
  top: -50px;
  left: calc(100% - 250px);
  right: 0;
  bottom: 0;
  height: 350px;
  animation: fadeOut 0.3s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
