/* Obsidian: リボンアイコンの色を変更 */
.sidebar-toggle-button,
.workspace-ribbon .clickable-icon {
  color: var(--interactive-accent); /* アイコンの色を変更 */
}

/* アイコンをホバーしたときの色 */
.sidebar-toggle-button:hover,
.workspace-ribbon .clickable-icon:hover {
  color: var(--text-accent-hover);
}

/* アクティブなアイコン（オプション） */
.workspace-ribbon .clickable-icon.is-active {
  color: var(--interactive-success); /* 例: 緑系の色に */
}


[aria-label*='Shell commands: Custom variables'] {
  --icon-color: #A899F4; /*などの好きな色*/
  --icon-color-hover: #A899F4;
  --icon-color-active: #A899F4;
  --icon-color-focused: #A899F4;
}

/*
    Compact Sidebar
    Make icons in sidebar tab headers more compact, for smaller screens
	Make Vault selector sidebar footer more compact
    https://github.com/replete/obsidian-minimal-theme-css-snippets
*/

/* Compact Top sidebar navigation */
.workspace-tab-header-inner{
  padding-left:3px;
  padding-right:3px;
}

/* Compact File Explorer Header */
[data-type=file-explorer] {
.nav-header {
  padding:5px 12px 4px 12px;

  .nav-buttons-container {
    margin-left:-4px;
    /* justify-content:flex-end; */

    &:hover {
      .clickable-icon {
        opacity:0.7;
      }
    }

    .clickable-icon {
      padding:2px;
      color:var(--tx2, var(--text-normal)) !important;
      transition: .2s color ease-in;
      opacity:0.45;
      background:transparent;
      transition: .1s all ease-in;

      &:hover {
        background-color:transparent;
        opacity:1;
      }

      svg {
        width:18px;
        height:18px;
      }
    }

    .view-actions:hover .clickable-icon {
      color: var(--tx1, var(--text-faint)) !important;
    }
  }
}
}

/* Compact Vault selector sidebar footer */
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
padding: 0;
gap:0;

.workspace-drawer-vault-switcher {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 12px;
  margin-top:-1px;
}

.clickable-icon {
  border-radius:0;

  &:last-of-type {
    padding-right:12px
  }
}

svg {
  width:16px !important;
  height:16px !important;

}

.workspace-drawer-vault-name {
  margin-left:-5px;
}
}
