/** explorer **/
.nav-folder-title-content::before {
  content: "📂 ";
}

/* Active tab width */
/* .workspace-tab-header[data-type="markdown"].is-active.mod-active,
.workspace-tab-header[data-type="empty"].is-active.mod-active {
  background-color: var(--tab-background-active);
  flex-grow: 4 !important;
} */

/* 非アクティブなタブの閉じるボタンを削除 */
.workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button {
  display: none;
}

/* 非アクティブなタブにホバーしたときのみ閉じるボタンを表示 */
.workspace-tabs.mod-stacked .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner-close-button {
  display: flex;
}

/* ツールバーに閉じるボタンを追加 */
/* .workspace-tab-header:hover .workspace-tab-header-inner-close-button {
  display: flex;
} */
 


/* https://github.com/replete/obsidian-minimal-theme-css-snippets?tab=readme-ov-file */

/* Less prominent pinned icon */
.workspace .mod-root .workspace-tab-header-container .workspace-tab-header-inner-close-button {
  position:absolute;
  right:6px;
  margin-top:0px;
}

/* Hide tab separator bar */
/* .workspace .mod-root .workspace-tab-header-inner::after {
  display:none;
} */

/* Smaller buttons */
.workspace .mod-root .workspace-tab-header-inner-close-button,
.workspace .mod-root .workspace-tab-header-status-icon {
    transform:scale(0.9) translate(2px,1px);
    transform-origin:center;
}

/* Smaller new tab button */
.workspace .mod-root  .workspace-tab-header-new-tab {
    margin-left:4px;
}
.workspace .mod-root .workspace-tab-header-new-tab .clickable-icon {
    transform:scale(0.8) translate(0,1px);
}


/* Hide buttons until hover */
.workspace .mod-root .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button,
.workspace .mod-root .workspace-tab-header:not(.is-active) .workspace-tab-header-status-icon {
    opacity:0;
}
.workspace .mod-root .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner-close-button,
.workspace .mod-root .workspace-tab-header:not(.is-active):hover .workspace-tab-header-status-icon {
    opacity:1;
}



/*
    Restrict last right sidebar panel
    Limit the height of the last right sidebar item (.e.g the calendar) to save constant resizing on window resize
    https://github.com/replete/obsidian-minimal-theme-css-snippets

    How to use:
    - activate snippet
    - resize Obsidian window to smallest vertical size that you will use
    - resize panel by dragging divider to make calendar visible (setting flex-grow values)
    - calendar should now always be visible on resize
*/

/* 右ペイン下バーの幅設定 
Assumes calendar plugin is the last panel in the right sidebar */
/* .mod-right-split .workspace-tabs:last-of-type {
  max-height:300px;
} */


